body {
    font-family: 'Roboto', sans-serif;
}

.flex-1,
.flex-2,
.flex-3,
.flex-4 {
    display: flex;
}

.flex-1 #p1 {
    width: 200px;
    background-color: lightblue;
}

.flex-1 #p2 {
    width: 75px;
    background-color: lightpink;
}

.flex-2 #p1 {
    width: 50px;
    background-color: lightblue;
}

.flex-2 #p2 {
    flex: 1;
    background-color: lightpink;
}

.flex-2 #p3 {
    width: 75px;
    background-color: lightblue;
}

.flex-3 {
    justify-content: space-between;
}

.flex-3 #p1,
#p2,
#p3,
#p4 {
    background-color: lightpink;
}

.flex-4 {
    height: 50px;
    border: 2px solid rgba(190, 186, 186, 0.938);
    justify-content: space-between;
}

.flex-4 #p1,
#p2 {
    background-color: rgb(135, 131, 131);
}

.lesson12-e {
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(220, 216, 216, 0.904);
    border-radius: 6px;
    flex: 1;
    width: 350px;
    height: 115px;
    justify-content: space-around;
}

.section-1,
.section-2,
.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}

.count {
    background-color: rgba(27, 106, 232, 0.998);
    padding: 4px 8px;
    border-radius: 16px;
    color: white;
}

.lesson12-f {
    margin: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 68, 181);
    width: 860px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
}

.section-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.section-middle {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.header-home {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.search-bar {
    height: 32px;
    width: 500px;
    border-radius: 16px;
    border: none;
    font-size: 15px;
    padding-left: 20px;
}

.download-button {
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    background-color: rgba(126, 77, 172, 0.909);
    border: 1px solid white;
    border-radius: 2px;
}

.lesson12-g {
    width: 400px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray
}

.profile-overview {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border:none;
    align-items: center;
}
.profile-icon{
    width: 75px;
}
.profile-picture {
    width: 65px;
    height: 65px;
    border-radius: 33px;
}

.profile-info {
    flex: 1;
    font-size: 16px;
    line-height: 23px;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.sub-name{
    color: rgb(96, 96, 96);
    font-size: 18px;
}
.status{
    color: rgb(96, 96, 96);
    font-size: 14px;
}
.follow-button{
    width: 80px;
}
.follow{
    background-color: rgb(41, 112, 235);
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
}