body{
    height: 3000px;
}
.close{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    padding: 6px 10px;
    border-radius: 17px;
    left: -10px;
    top: -10px;
}
.sticky-box{
    position: fixed;
    background-color: gray;
    width: 320px;
    height: 180px;
    bottom: 0;
    right: 0;
}
.time{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 11px;
    background-color: black;
    color: white;
    right: 10px;
    bottom: 10px;
    padding: 2px 6px;
}
.cloth-image{
    display: inline-block;
    position: relative;
    width: 193px;
    height: 259px;
}
.discount{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 11px;
    background-color: black;
    color: white;
    padding: 2px 6px;
    top: 10px;
    right: 0;
}
.overlay{
    display: flex;
    position: absolute;
    background-color: #3a3737ad;
    height: 60px;
    width: 195px;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.add-to-cart-button{
    font-size: 10px;
    background-color: rgba(246, 240, 240, 0.863);
    padding: 4px 8px;
    font-family: Arial;
    border: 1px solid black;
}